* {
	margin: 5px;
	padding: 4px;	
}

body {
        background-image: url("https://img.wonderhowto.com/img/69/07/63620327870894/0/null-byte.1280x600.jpg");
	font-size: 120%;
	font-family: verdana;
	color: white;
	
}
